/*universal styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16;
}

/*sets background color in the body to white*/
body {
background-color: #d9dcd6;
}

/*sets padding in header to 20px, font family, background color, and text color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*sets title in header to inline block, font size 48px, white text color */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/*settings for the nav links in the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removes the actual markers or bullet points in the unorganized list in the header*/
.header nav ul {
    list-style-type: none;
}

/*sets left margin of unorganized list in the header*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*sets article color to white, text-decoration to none*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*settings for the large image under the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*settings for the main three sections*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*settings for the img in SEO and Social Media Marketing boxes in the main section*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*setting for the img in Online Reputation Management box*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*following three entries sets style for the three main boxes*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*following three entries sets height of img in three main section boxes*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*following three entries sets margin bottom and font size of heading in three main section boxes*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*setting for the aside to the right of the main section boxes*/ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets margin bottom in aside sections to 32, font color to white*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*sets margin bottoms of headers in aside sections to 10px, aligns text to center*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*setting for the images in the sections of the aside*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*settings for the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*sets font size of the title in the footer to 20px*/
.footer h2 {
    font-size: 20px;
}
